
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#b4edf8,#b5c8ff);
    padding:50px;
}


.container {
            display: flex;
             justify-content: center;
            align-items: center;
        
            min-height: 100vh;
            gap: 10px;
           

}




.container .card {
        height: 500px;
        width: 250px;
        background-color: aliceblue;
        border-radius: 20px;
          transition:.3s;
           box-shadow:0 12px 25px rgba(0,0,0,.15);
        overflow:hidden;
    }

.card:hover{

    transform:translateY(-8px);
}

 
.card-img{
        width: 250px;
        height: 150px;
        object-fit: cover;
}

.content{

    padding:22px;
}


.content h2{

    font-size:25px;

    line-height:1.2;

    margin-bottom:13px;
    justify-content: center;

    font-weight:400;
}

.tag{

    display:inline-block;
    padding:6px 16px;
    border-radius:30px;
    color:#fff;
    font-size:10px;
    margin-bottom:12px;
    font-weight:400;
}

.content p{
     color:#666;
    line-height:1.8;
    font-size:13px;
    margin-bottom:15px;
}


.tech{

    background:#2d8cff;
    
}

.food{

    background:#f4b400;
}

.auto{

    background:#e53935;
}



.author{
     display: flex;
     justify-content: flex-start;
}


    
   
    .author img{

    width:55px;
    height:55px;

    border-radius:50%;

    object-fit:cover;
}

.author h4{

    font-size:18px;
    font-weight:600;
}

.author span{

    color:#777;
    font-size:14px;
}